<header>
    <a class="nav-link" href="#">Doctor Appointment</a>
    <div class="nav-right">
        <a class="nav-link" href="../about">About</a>
        <a class="nav-link" href="../contact">Contact </a>
        <a class="nav-link" href="../services">Services</a>
        <a class="nav-link" href="../signup">Signup</a>
        <a class="nav-link" href="../signin">Login</a>
        <a class="nav-link" href="../signout">Logout</a>
    </div>
</header>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="{%url 'bookingapp:adminhome'%}">Dashboard</a>
        </li>
        <li>
            <a href="{%url 'bookingapp:adminaddDoctor'%}">Add Doctor</a>
        </li>
        <li>
            <a href="{%url 'bookingapp:adminViewDoctor'%}">View Doctor</a>

        </li>
        <li>
            <a href="{% url 'bookingapp:adminAddReceptionist'%}">Add Receptionist</a>
        </li>
        <li>
            <a href="{% url 'bookingapp:adminViewreceptionist'%}">View receptionist</a>
        </li>
        <li>
            <a href="{% url 'bookingapp:adminViewAppointment'%}">View Appointments</a>
        </li>
        <li>
            <a href="{%url 'bookingapp:adminLogout'%}">Logout</a>
        </li>
    </ul>
</div>